<!DOCTYPE html>
<html>
    <head>
        <title>신규채팅방 생성</title>
    </head>
    <body>
        <h1>신규채팅방 생성</h1>

        <form action="/channel/create" method="post">
        
            제목<input type="text" name="title"/> <br>
            내용<textarea name="contents" rows="20" cols="10" style="width: 70%;"></textarea><br>
            등록자<input type="text" name="register"/> <br>
            <input type="submit" value="저장"><br>
            <a href="/channel/list">채팅방 목록 이동</a>
            
        </form>

    </body>
</html>