    <!--우측 상단 헤더 영역 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>채널정보 등록</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/Home/Index">홈 </a>/
                </li>
                <li>
                    <a>채널정보 </a>/
                </li>
                <li class="breadcrumb-item active">
                    <strong>등록</strong>
                </li>
            </ol>
        </div>
    </div>

    <!--우측 콘텐츠 영역 -->
    <div class="wrapper wrapper-content animated fadeInUp">
        <div class="row">
            <div class="col-lg-12">

                <div class="ibox">
                    <div class="ibox-content">
                        <h2>채팅메시지 생성</h2>
                        <form action="/channel/create">
                            <div class="form-group">
                                <label class="col-form-label">제목</label>
                                <input type="text" id="title" name="title" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">내용</label>
                                <textarea name="contents" rows="20" cols="10" style="width: 100%;"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">작성자</label>
                                <input type="text" id="register" name="register" value="" class="form-control">
                            </div>
                            <input type="submit" class="btn-white btn btn-x" value="저장">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){

            $('#loading-example-btn').click(function () {
                btn = $(this);
                simpleLoad(btn, true)

                // Ajax example
//                $.ajax().always(function () {
//                    simpleLoad($(this), false)
//                });

                simpleLoad(btn, false)
            });
        });

        function simpleLoad(btn, state) {
            if (state) {
                btn.children().addClass('fa-spin');
                btn.contents().last().replaceWith(" Loading");
            } else {
                setTimeout(function () {
                    btn.children().removeClass('fa-spin');
                    btn.contents().last().replaceWith(" Refresh");
                }, 2000);
            }
        }
    </script>