<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>메인 페이지</h1>
    <a href="/login"><button>로그인하기</button></a>
    <a href="/admin/list"><button>관리자 계정정보 생성</button></a>
    <a href="/article/list"><button>신규게시글 등록</button></a>
    <a href="/channel/list"><button>신규채팅방 생성</button></a>
    <a href="/member/list"><button>사용자 계정정보 생성</button></a>
    <a href="/message/list"><button>채팅메시지 이력관리</button></a>
  </body>
</html>

<!-- 
  step3) layout 페이지의 좌측 메뉴를 정리합니다. ==> 다 목록페이지로 가게..
ㅁ관리자계정관리: 관리자 목록 페이지 링크 
ㅁ게시글정보관리: 게시글 목록 페이지 링크
ㅁ사용자계정관리: 사용자 목록 페이지 링크
ㅁ채널정보관리-채널정보 목록 페이지 링크
ㅁ메시지정보관리-메시지 목록 페이지 링크
-->