<!DOCTYPE html>
<html>
<head>
    <title>Admin List</title>
    <link rel="stylesheet" href="/styles/admin.css" />
</head>
<body>
    
    <div class="container">
        <h1>Admin List</h1>
        <a href="/admin/create" class="button">Create New Admin</a>
        <a href="/admin/modify/1" class="button">Modify</a>
        <ul class="admin-list">
            <!-- Admins will be listed here -->
            <!-- Example: <li>Admin Name - <a href="/admin/modify/1" class="button">Modify</a></li> -->
        </ul>
        <a href="/"><img src="/images/home.png" alt="Home" class="home-icon"></a>

    </div>
</body>
</html>