    <!--우측 상단 헤더 영역 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>사용자계정 관리</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">홈</a>
                </li>
                <li class="breadcrumb-item">
                    <a>사용자계정</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>목록</strong>
                </li>
            </ol>
        </div>
    </div>

    <!--우측 콘텐츠 영역 -->
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="ibox-content m-b-sm border-bottom">
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="order_id">Order ID</label>
                        <input type="text" id="order_id" name="order_id" value="" placeholder="Order ID" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="status">Order status</label>
                        <input type="text" id="status" name="status" value="" placeholder="Status" class="form-control">
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="customer">Customer</label>
                        <input type="text" id="customer" name="customer" value="" placeholder="Customer" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="date_added">Date added</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_added" type="text" class="form-control" value="03/04/2014">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="date_modified">Date modified</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input id="date_modified" type="text" class="form-control" value="03/06/2014">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="col-form-label" for="amount">Amount</label>
                        <input type="text" id="amount" name="amount" value="" placeholder="Amount" class="form-control">
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        <a href="/member/create" style="display: flex; justify-content: flex-end; margin-bottom: 1rem;"><button class="btn-white btn btn-xs">사용자 신규등록</button></a>
                        <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                            <thead>
                                <tr>
                                    <th>Order ID</th>
                                    <th data-hide="phone" name="name">사용자명</th>
                                    <th data-hide="phone" name="email">이메일</th>
                                    <th data-hide="phone" name="telephone">전화번호</th>
                                    <th data-hide="phone,tablet" name="address">주소</th>
                                    <th data-hide="phone" name="reg_date">등록일시</th>
                                    <th class="text-center">설정</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>
                                        이보람
                                    </td>
                                    <td>
                                        aaa@naver.com
                                    </td>
                                    <td>
                                        010-2256-5222
                                    </td>
                                    <td>
                                        인천시 부평구
                                    </td>
                                    <td>
                                        2023-12-19
                                    </td>
                                    <td class="text-center">
                                        <div class="btn-group">
                                            <a href="/member/modify"><button class="btn-white btn btn-xs">수정</button></a>
                                            <a href="/member/delete"><button class="btn-white btn btn-xs">삭제</button></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="7">
                                    <ul class="pagination float-right"></ul>
                                </td>
                            </tr>
                            </tfoot>
                        </table>

                    </div>
                </div>
            </div>
        </div>

    </div>


    <!-- Page-Level Scripts -->
    <script>
        $(document).ready(function() {

            $('.footable').footable();

            $('#date_added').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

            $('#date_modified').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });

    </script>