<!DOCTYPE html>
<head>
    <title>로그인 페이지</title>
</head>
<body>
    <h1>로그인 페이지</h1>
    
    <form action="/login" method="post">
        아이디<input type="text" name="adminId"/> <br/>
        비밀번호<input type="password" name="password"/> <br/>
        <input type="submit" value="저장"><br/>
        <a href="/list"><button>메인페이지</button></a>
    </form>
</body>
</html>