<!--우측 상단 헤더 영역 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>사용자계정 신규등록</h2>
            <ol class="breadcrumb">
        <li class="breadcrumb-item">
                    <a href="/">홈</a>
                </li>
                <li class="breadcrumb-item">
                    <a>사용자계정</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>신규등록</strong>
                </li>
            </ol>
        </div>
    </div>

    <!--우측 콘텐츠 영역 -->
    <div class="wrapper wrapper-content animated fadeInRight ecommerce">

        <div class="row">
            <div class="col-lg-12">
                <div class="tabs-container">
        <ul class="nav nav-tabs">
                            <li><a class="nav-link active" data-toggle="tab">사용자계정 신규등록</a></li>
                        </ul>
                        <div class="tab-content">
                            <div id="tab-1" class="tab-pane active">
                                <div class="panel-body">

        <form action="/member/create/" method="post">
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">사용자명</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" name="name"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">이메일</label>
                                            <div class="col-sm-10"><input type="email" class="form-control" name="email"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">전화번호</label>
                                            <div class="col-sm-10"><input type="tel" class="form-control" name="telephone"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">주소</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" name="address"></div>
                                        </div>
                                        <div class="form-group row"><label class="col-sm-2 col-form-label">등록일시</label>
                                            <div class="col-sm-10"><input type="text" class="form-control" name="reg_date"></div>
                                        </div>
                                        <input type="submit" class="btn-white btn btn-xs" value="등록">
                                        <a href="/member/list"><button class="btn-white btn btn-xs">게시글 목록 이동</button></a>
        </form>

    </div>
</div>
                        </div>
                </div>
            </div>
        </div>

    </div>

    <script>
        $(document).ready(function(){

            $('.summernote').summernote();

            $('.input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true
            });

        });
    </script>