<!DOCTYPE html>
<html>
    <head>
        <title>관리자 계정정보 수정/삭제</title>
    </head>
    <body>
        <h1>관리자 계정정보 수정/삭제</h1>
        <form action="/admin/modify/" method="post">
            관리자명 <input type="text" name="adminName" id="adminName" value=""><br>
            연락처 <input type="tel" name="adminPhone" id="adminPhone" value=""><br>
            주소 <input type="text" name="adminAddress" id="adminAddress" value=""><br>
            <input type="submit" value="수정"><br/>
            <a href="/admin/delete">삭제</a>
            <a href="/admin/list">게시글 목록 이동</a>
        </form>
    </body>
</html>