
    <!--우측 콘텐츠 헤더영역 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>신규 채널 등록</h2>
            <ol class="breadcrumb">
                <li>
                    <a href="/Home/Index">Home</a> > 
                </li>
                <li>
                    <a> 신규 채널</a> > 
                </li>
                <li class="active">
                    <strong> 등록</strong>
                </li>
            </ol>
        </div>
        <div class="col-lg-2">

        </div>
    </div>

    <!--우측 콘텐츠 영역 -->
    <form action="/channel/create" id='channelForm' method="post">
        <div class="wrapper wrapper-content">
            <div class="ibox-content m-b-sm border-bottom">

                <!-- 게시판 영역 -->
                <div class="row">
                    <div class="col-sm-2">
                        <div class="form-group">
                            <label class="control-label">채널</label>
                            <select name="categoty_code" id="categoty_code" class="form-control">
                                <option value="0">선택</option>
                                <option value="1">공지채널</option>
                                <option value="2">잡담채널</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- 글 제목 영역 -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">채널이름</label>
                            <input type="text" name="channel_name" id="channel_name" class="form-control">
                        </div>
                    </div>
                </div>

                <!-- 글 내용 입력 영역 -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label">채널설명</label>
                            <textarea class="form-control" name='channel_desc' id='channel_desc' rows="10" cols="5"></textarea>
                        </div>
                    </div>
                </div>

                <!-- 게시글 유형, 게시 여부, 등록자 입력 영역 -->
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">동시채널접속자수</label>
                            <input type="text" name="user_limit" id="user_limit" class="form-control">
                        </div>
                    </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">게시여부</label>
                                <select name="channel_state" id="channel_state" class="form-control">
                                    <option value="9">선택</option>
                                    <option value="1">게시함</option>
                                    <option value="0">게시안함</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">등록아이디</label>
                                <input type="text" name="reg_member_id" id="reg_member_id" class="form-control">
                            </div>
                        </div>
                </div>

                <!-- 저장/목록 이동 버튼 -->
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">저장</button>
                    <a href="/channel/list" class="btn btn-info">목록</a>
                </div>

            </div>
        </div>
    </form>

    <script>

        // 서버에서 보내준 html 웹페이지가 사용자 웹브라우저에
        // 모두 렌더링이 완료된 시점에 발생 $(document).ready();
    
        $(document).ready(function(){
            $("#categoty_code").focus();
        });
    
        // form태그내 사용자가 입력한 데이터 유효성검사(Validation Check)함수 구현
        $("#channelForm").submit(function(){
            // 게시판 유형값 선택여부 체크
            if($("#categoty_code").val()=="0"){
                alert("채널 유형을 선택해주세요.");
                $("#categoty_code").focus();
                return false;
            }
    
            // 제목 입력요소 유효성 검사
            if($("#channel_name").val()==""){
                alert("채널이름을 입력해주세요.");
                $("#channel_name").focus();
                return false;
            }
    
            // 게시여부
            if($("#channel_state").val()=="9"){
                alert("게시여부를 선택해주세요.");
                $("#channel_state").focus();
                return false;
            }
    
            // 작성자명
            if($("#reg_member_id").val()==""){
                alert("닉네임을 입력해주세요.");
                $("#reg_member_id").focus();
                return false;
            }
    
        return true; // 모든 유효성 검사가 통과되었을 때 true 반환
    });
    
    </script>
            

