    <!--우측 상단 헤더 영역 -->
    <div class="row wrapper border-bottom white-bg page-heading">
        <div class="col-lg-10">
            <h2>메시지정보 신규등록</h2>
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="/">홈</a>
                </li>
                <li class="breadcrumb-item">
                    <a>메시지정보</a>
                </li>
                <li class="breadcrumb-item active">
                    <strong>신규등록</strong>
                </li>
            </ol>
        </div>
    </div>

    <!--우측 콘텐츠 영역 -->
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-lg-3">
                <div class="ibox ">

                    <!-- 왼쪽 선택박스 -->
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a class="btn btn-block btn-primary compose-mail" href="/message/create">신규 메시지</a>
                            <div class="space-25"></div>
                            <h5>Folders</h5>
                            <ul class="folder-list m-b-md" style="padding: 0">
                                <li><a href="/message/list"> <i class="fa fa-inbox "></i> 메시지목록 <span class="label label-warning float-right">16</span> </a></li>
                                <li><a href="/message/create"> <i class="fa fa-envelope-o"></i> 신규메시지</a></li>
                                <li><a href="/message/delete"> <i class="fa fa-trash-o"></i> 삭제</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 animated fadeInRight">
                <div class="mail-box-header">
                    <h2>채팅메시지 생성</h2>
                    <div class="mail-tools tooltip-demo m-t-md">
                        <form action="/message/create" method="post">
                            <div class="form-group">
                                <label class="col-form-label">채팅방명</label>
                                <input type="text" id="title" name="title" value="" class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">내용</label>
                                <textarea name="contents" rows="20" cols="10" style="width: 100%;"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">작성자</label>
                                <input type="text" id="register" name="register" value="" class="form-control">
                            </div>
                            <input type="submit" class="btn-white btn btn-x" value="저장">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!-- iCheck -->
    <script src="js/plugins/iCheck/icheck.min.js"></script>
    <script>
        $(document).ready(function(){
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>