<!DOCTYPE html>
<html lang="en">
<head>
    <title>채팅목록</title>
</head>
<body>
    <h1>채팅목록</h1>
    <table style="border: 1px solid;">
        <thead>
            <tr>
                <th>글번호</th>
                <th>제목</th>
                <th>내용</th>
                <th>조회수</th>
                <th>아이피주소</th>
                <th>게시여부</th>
                <th>작성자</th>
                <th>작성일자</th>
            </tr>
        </thead>

        <tbody>
                <tr>
                    <td>1</td>
                    <td>채팅방1번</td>
                    <td>무슨내용을쓸까</td>
                    <td>100</td>
                    <td>111.111.111.111</td>
                    <td>Y</td>
                    <td>robin</td>
                    <td>2023.12.13</td>
                </tr>
        </tbody>
    </table>
</body>
</html>
