<!DOCTYPE html>
    <head>
        <title>사용자 계정정보 생성</title>
    </head>
    <body>
        <h1>사용자 계정정보 생성</h1>

        <form action="/member/create" method="post">
            사용자명 <input type="text" name="adminName" id="adminName"><br>
            연락처 <input type="tel" name="adminPhone" id="adminPhone"><br>
            주소 <input type="text" name="adminAddress" id="adminAddress"><br>
            <input type="submit" value="저장"><br>
        </form>
    </body>
</html>