<!DOCTYPE html>
    <head>
        <title>사용자 계정정보 목록</title>
    </head>
    <body>
        <h1>사용자 계정정보 목록</h1>
        <a href="/member/create">사용자 계정정보 생성</a>
        <table style="border: 1px solid;">
            <thead>
                <tr>
                    <th>사용자명</th>
                    <th>연락처</th>
                    <th>주소</th>
                    <th>작성일자</th>
                    <th>수정</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>유저1</td>
                    <td>010-2256-5222</td>
                    <td>인천시 부평구</td>
                    <td>2023.12.12</td>
                    <td><a href="/member/modify"><button>수정</button></a></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>