<!DOCTYPE html>
<head>
    <title>회원가입 페이지</title>
</head>
<body>
    <h1>회원가입</h1>

    <form action="/entry" method="post">
        
        아이디 <input type="text" name="userId" id="userId"> <br>
        비밀번호 <input type="password" name="userPw" id="userPw"> <br>
        이름 <input type="text" name="userName" id="userName"> <br>
        연락처 <input type="tel" name="userPhone" id="userPhone"> <br>
        이메일 <input type="email" name="userMail" id="userMail"> <br>
        주소 <input type="text" name="userAddress" id="userAddress"> <br>
        <input type="submit" value="저장">
        <a href="/login"><button>로그인하기</button></a>
        
    </form>
</body>
</html>