<!DOCTYPE html>
<head>
    <title>비밀번호 찾기 페이지</title>
</head>
<body>
    <h1>비밀번호 찾기</h1>

    <form action="/find" method="post">
        
        아이디를 입력하세요 <input type="text" name="userId" id="userId"> <br>
        연락처를 입력하세요 <input type="tel" name="userPhone" id="userPhone"> <br>
        이메일를 입력하세요 <input type="email" name="userMail" id="userMail"> <br>
        <input type="submit" value="저장">
        <a href="/login"><button>로그인하기</button></a>

    </form>
    
</body>
</html>