<!DOCTYPE html>
<html>
    <head>
        <title>채팅 메시지 이력 수정/삭제</title>
    </head>
    <body>
        <h1>채팅 메시지 이력 수정/삭제</h1>

        <form action="/message/modify" method="post">
            채팅방명<input type="text" name="title" value=""><br>
            내용<textarea name="contents" rows="20" cols="10" style="width: 70%;"></textarea><br>
            작성자<input type="text" name="register" value=""><br>
            <input type="submit" value="수정"><br>
            <button>
            <a href="/message/delete">삭제</a>
            </button>
            <a href="/message/list">채팅메시지 목록 이동</a>
        </form>
    </body>
</html>
